/venv
venv

*.py[cod]
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

.project
.pydevproject
docs/_build
tests/htmlcov

*.DS_Store

.sonar

.sass-cache


# Node Modules
node_modules
.idea/
src/core/media/image_gallery/*
src/core/media/video_gallery/*
src/core/media/user_avatar/*
src/core/media/software/*
