html {
	background: #010101;
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	font-family: "Helvetica Neue", Arial, sans-serif;
	padding-bottom: 6rem;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0 !important;
}

ul {
	padding: 0;
	list-style-type: none;
}

.header_banner {
	text-align: center;
	color: #8fde62;
	background: rgb(61,61,61); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(61,61,61,1) 0%, rgba(1,1,1,1) 50%, rgba(61,61,61,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(100%,rgba(61,61,61,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* IE10+ */
	background: linear-gradient(90deg,  #010101 0%, #3D3D3D 50%, #010101 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header_url {
	color: #fff;
	background: #000;
}

.header_url > a, .header_url > span {
	margin-left: 20px;
}

.top_menu>a {
	cursor: default;
}

.register_headline {
	margin: 10px 0 20px 0;
}

.register_field, .back_link {
	display: block;
	margin-bottom: 10px;
}

.username_header {
	float: right;
	width: 140px;
	border: 1px solid #000;
	text-align: center;
}

.username_header > a{
	font-size: 0.9em;
}

.username_header.login > a{
	display: block;
	font-size: 0.9em;
}

.content {
	position: relative;
	text-align: center;
	width: 60%;
	left: 20%;
	margin-top: 20px;
}

.headline {
	margin-bottom: 20px;
}

.match_subline {
	margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.single_rule {
	text-align: left;
	width: 50%;
	position: relative;
	left: 25%;
}

.single_rule > h4 {
	width: 80px;
	float: left;
}

.single_rule > p {
	float: left;
	margin: 0;
}

.game_info_overview {
	text-align: left;
	border: 1px solid #000;
}

.match_info {
	margin-top: 10px;
}

.match_info>div {
	border: 1px solid #000;
}

.datetime {
	border: 0 !important;
}

.datetime > div {
	width: 50%;
	float: left;
	border: 1px solid #000;
}

.rounds, .admin_interface {
	margin-top: 100px;
	margin-bottom: 40px;
}

.team_row {
	display: table;
	width: 100%;
	margin-top: 5px;
	table-layout: fixed;
}

.team {
	display: table-cell;
	width: 100%;
	border: 1px solid #000;
}

.match_register {
	margin-bottom: 5px;
    margin-top: 5px;
}

.create_teams {
	margin-top: 10px;
}

.tools {
	display: none;
}

#tournament_tree_content {
	overflow-y: hidden;
}


table {
	width: 100%;
	margin-top: 5px;
	/*margin-bottom: 100px;*/
	table-layout: fixed;
}

table, td, th {
	border: 1px solid #000;
	padding: 5px;
}

td, th {
	display: table-cell;
	width: 100%;
}

table.login, 
table.login td {
	margin: 30px 0 30px 0;
	border: 0;
	padding: 0;
}

.category_headline {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
    float: left;
    width: 100%;
}

/*
.odd > a {
	float: left;
}

.even > a {
    margin-right: -17%;
}*/

.single_image img,
.single_video {
	margin-bottom: 50px;
}

footer {
    background-color: #4C4E5A;
    color: #FFF;
    width: 1000px;
    bottom: 0;
    position: absolute;
    padding-left: 5px;
}

.errorlist {
    color: red;
}

.table_row_odd {
	background-color: #FFA940;
}

.table_row_even {
	background-color: #A4D9FF;
}