html {
	background: #010101;
	height: 100%;
	/*box-sizing: border-box;*/
}
/*
*,
*:before,
*:after {
  box-sizing: inherit;
}*/

body {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	font-family: "Helvetica Neue", Arial, sans-serif;
	padding-bottom: 6rem;
}

/*h1, h2, h3, h4, h5, h6, ul {
	margin: 0 !important;
}*/

.site-header {
    margin: 0 auto! important;
    text-align: center;
}

ul {
	padding: 0;
	list-style-type: none;
}

.header_banner {
	text-align: center;
	color: #8fde62;
	background: rgb(61,61,61); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(61,61,61,1) 0%, rgba(1,1,1,1) 50%, rgba(61,61,61,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(100%,rgba(61,61,61,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* IE10+ */
	background: linear-gradient(90deg,  #010101 0%, #3D3D3D 50%, #010101 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header_banner > h1 {
    margin: 0 !important;
}

.header_url {
	color: #fff;
	background: #000;
}

.header_url > a, .header_url > span {
	margin-left: 20px;
}

.top_menu>a {
	cursor: default;
}

.register_headline {
	margin: 10px 0 20px 0;
}

.register_field, .back_link {
	display: block;
	margin-bottom: 10px;
}

.username_header {
	float: right;
	width: 140px;
	border: 1px solid #000;
	text-align: center;
}

.username_header * {
    margin: 5px 0 !important;
}

.username_header > a{
	font-size: 0.9em;
}

.username_header.login > a{
	display: block;
	font-size: 0.9em;
}

.content {
	position: relative;
	text-align: center;
	width: 60%;
	left: 20%;
	margin-top: 20px;
}

.content-image-gallery {
    position: relative;
	text-align: center;
	width: 90%;
	left: 5%;
	margin-top: 20px;
}

.game_avatar {
	margin-bottom: 20px;
}

.match_subline {
	margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.user ul {
    min-height: 50px;
}

li.user_list {
    display: inline;
    padding: 5px;
}

.bottom_line {
    border-bottom: 1px solid #000;
}

/*
.single_rule {
	text-align: left;
	width: 50%;
	position: relative;
	left: 25%;
}

.single_rule > h4 {
	width: 80px;
	float: left;
}

.single_rule > p {
	float: left;
	margin: 0;
}*/

.game_info_overview {
	text-align: left;
	border: 1px solid #000;
	padding: 5px;
}

.match_info {
	margin-top: 10px;
}

.match_info>div {
	border: 1px solid #000;
}

.datetime {
	border: 0 !important;
}

.datetime > div {
	width: 50%;
	float: left;
	border: 1px solid #000;
}

.rounds, .admin_interface {
	margin-top: 100px;
	margin-bottom: 40px;
}

.admin_interface > h3 {
    margin-top: 0;
}

.admin_interface > form {
    margin-bottom: 15px;
}

.admin_interface > form:last-child {
    margin-bottom: 0;
}

.team_row {
	display: table;
	width: 100%;
	margin-top: 5px;
	table-layout: fixed;
}

.team {
	display: table-cell;
	width: 100%;
	border: 1px solid #000;
	padding: 5px;
}

.match_register {
	margin-bottom: 5px;
    margin-top: 5px;
}

.create_teams {
	margin-top: 10px;
}

.tools {
	display: none;
}

#tournament_tree_content {
	overflow-y: hidden;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tbody>tr>td {
   text-align: center !important;
   vertical-align: middle !important;
}

table.login, 
table.login td {
	margin: 30px 0 30px 0;
	border: 0;
	padding: 0;
}

.category_headline {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
    float: left;
    width: 100%;
}

.eighty_ten {
	width: 80% !important;
	left: 10% !important;
}

.login-box {
	max-width: 60% !important;
	margin-left: 20% !important;
}

footer {
    background-color: #4C4E5A;
    color: #FFF;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 5px;
}

.hint-admin {
    color: #EE7600;
}

.error-list, .errorlist {
    color: red;
}

.success {
    color: green;
}

.list_rule {
    text-align: left;
    margin-bottom: 30px;
}

.menu_list > h2 {
    margin-bottom: 30px;
}

.headline {
    margin-bottom: 30px;
}

input[type=file] {
    margin: 0 auto;
}