html {
	color: #000;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0 !important;
}

ul {
	padding: 0;
	list-style-type: none;
}

.header_banner {
	text-align: center;
	color: #8fde62;
	background: rgb(61,61,61); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(61,61,61,1) 0%, rgba(1,1,1,1) 50%, rgba(61,61,61,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(100%,rgba(61,61,61,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(61,61,61,1) 0%,rgba(1,1,1,1) 50%,rgba(61,61,61,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header_url {
	color: #fff;
	background: #000;
}

.header_url > a, .header_url > span {
	margin-left: 20px;
}

.top_menu>a {
	cursor: default;
}

.register_headline {
	margin: 10px 0 20px 0;
}

.register_field, .back_link {
	display: block;
	margin-bottom: 10px;
}

.username_header {
	float: right;
	width: 15%;
	border: 1px solid #000;
	text-align: center;
}

.username_header > a{
	display: block;
	font-size: 0.9em;
}

.content {
	position: relative;
	text-align: center;
	width: 75%;
	left: 12.5%;
	margin-top: 20px;
}

.headline {
	margin-bottom: 20px;
}

.single_rule {
	text-align: left;
	width: 50%;
	position: relative;
	left: 25%;
}

.single_rule > h4 {
	width: 80px;
	float: left;
}

.single_rule > p {
	float: left;
	margin: 0;
}

.match_info {
	margin-top: 10px;
}

.match_info>div {
	border: 1px solid #000;
}

.datetime {
	border: 0 !important;
}

.datetime > div {
	width: 50%;
	float: left;
	border: 1px solid #000;
}

.rounds, .admin_interface {
	margin-top: 100px;
	margin-bottom: 40px;
}

.team_row {
	display: table;
	width: 100%;
	margin-top: 5px;
	table-layout: fixed;
}

.team {
	display: table-cell;
	width: 100%;
	border: 1px solid #000000;
}

.match_register {
	margin-bottom: 5px;
    margin-top: 5px;
}

.create_teams {
	margin-top: 10px;
}

table {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 100px;
	table-layout: fixed;
}

table, td, th {
	border: 1px solid #000000;
	padding: 5px;
}

td, th {
	display: table-cell;
	width: 100%;
}

table.login, 
table.login td {
	margin: 30px 0 30px 0;
	border: 0;
	padding: 0;
}

footer {
    background-color: #333;
    color: #FFF;
    width: 100%;
    bottom: 0;
    position: fixed;
}