{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Intranet{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/screen.css' %}">
        <link rel="stylesheet" href="{% static 'css/drop_down_menu.css' %}">
    </head>
    <body>
        {% block body %}
        
        <!-- Intranet Title -->
        <div class="header_banner">
            <h1>{{ lan_name.name }}</h1>
        </div>

        <!-- Drop Down Menu -->
        <ul class="menu">
            <li><a href="/">Startseite</a></li>
            <li><a href="#">Regeln</a>
                <ul>
                    {% for rule in rules %}
                        <li><a href="/rules/{{ rule.slug }}" class="documents">{{ rule.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#">Spiele</a>
                <ul>
                    {% for game in games %}
                        <li><a href="/games/{{ game.slug }}" class="documents" style="background: url(
{{ game.icon|thumbnail_url:'game_icon' }}) no-repeat 6px center;">{{game.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#">Offtopic</a>
                <ul>
                    <li><a href="/off-topic/pictures" class="documents">Bilder</a></li>
                    <li><a href="/off-topic/videos" class="messages">Videos</a></li>
                </ul>
            </li>
        </ul>

        <!-- User Info Field -->
        {% if user.is_authenticated %}
            <div class="username_header">
                <h5>Angemeldet als:</h5>
                <h4>{{ user.username }}</h4>
                <a href="/logout">Logout</a>
            </div>
        {% else %}
            <div class="username_header">
                <a href="/register">Registrieren</a>
                <a href="/login">Login</a>
            </div>
        {% endif %}

        {% endblock %}
        <footer>
            <div class="left">&copy; {% now "Y" %} Carlo Völker</div>
        </footer>
        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
        <!--<script type="text/javascript" src="{% static 'js/video.js'%}"></script>-->
    </body>
</html>
