{% extends "base.html" %}
{% load staticfiles %}
{% load helper %}

{% block body %}
{{block.super}}
<div class="content">
	<a href="/">Zurück</a>

	{% if content.msg %}
		<span>{{content.msg}}</span>
	{% endif %}

	<div class="headline">
		<h1 class="game_headline">{{ content.game }}</h1>
	</div>

	{% for match in content.match %}
	<div class="match_info">
		{% if match.game_mode %}
		<div class="game_mode">
			<h5 class="row_info">Spielmodus</h5>
			<h2 class="game_info">{{ match.game_mode }}</h2>
		</div>
		{% endif %}
		{% if match.description %}
		<div class="description">
			<h5 class="row_info">Beschreibung</h5>
			<h2 class="game_info">{{ match.description }}</h2>
		</div>
		{% endif %}
		<div class="player">
			<h5 class="row_info">Spieler pro Team</h5>
			<h2 class="game_info">{{ match.player_per_team }}</h2>
		</div>
		<div class="user">
			<h5 class="row_info">Angemeldete Benutzer</h5>
			<ul>
			{% for user in match.user.all %}
	 		<li class="player_name">{{ user }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="teams">
		{% for team in match.team_match.all %}
			{% ifequal forloop.counter0|modulo:3 0 %}
			<div class="team_row">
			{% endifequal %}
			<div class="team">
				<h3>Team {{team.description}}</h3>
				<ul>
					{% for user in team.user.all %}
					<li>{{ user }}</li>
					{% endfor %}
				</ul>
			</div>
			{% ifequal forloop.counter0|modulo:3 2 %}
			</div>
			{% endifequal %}
		{% endfor %}
	</div>
	{% endfor %}





	<!--
		{% for team in match.team_match.all %}
		<table>
			<thead>
			<tr>
				{% for team in match.team_match.all %}
				<th>Team {{team.description}}</th>
				{% endfor %}
			</tr>
			</thead>
			<tbody>
			<tr>
				{% for team in match.team_match.all %}
				<td>
				<ul>
				{% for user in team.user.all %}
				<li>{{ user }}</li>
				{% endfor %}
				</ul>
				</td>
				{% endfor %}
			</tr>
			</tbody>
		</table>
	</div>
	{% endfor %}-->
</div>
{% endblock %}