{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load helper %}

{% block headline %}
    <h1>{{ game.name }}</h1>
{% endblock %}

{% block body %}
{{block.super}}
<div class="content">
    {% if game.icon %}
        <div class="game_avatar">
            <img src="{{ game.icon|thumbnail_url:'game_site' }}" />
        </div>
    {% endif %}

	{% if game.description %}
		<div class="game_info_overview">
			{% for line in game.description.splitlines %}
				<span>{{ line }}</span><br/>
			{% endfor %}
		</div>
	{% endif %}

	<div class="match_list">
		{% for match in matches.all %}
			<a class="game-match-link" href="{% url 'match' match.game.slug match.id %}">{{ match.matchDesciption }}</a>
			<br/>
		{% endfor %}
	</div>
</div>
{% endblock %}