{% extends "base.html" %}
{% load staticfiles %}
{% load helper %}

{% block body %}
{{block.super}}
<div class="content">
	{% if msg %}
		<span class="message">{{msg}}</span>
	{% endif %}

	<div class="headline">
		<h1 class="game_headline">{{ game }}</h1>
	</div>

	{% for match in matches %}
	<div class="match_info">
		<div class="datetime">
			<div class="game_info_time">
				<h5 class="row_info">Datum</h5>
				{% if match.datetime.date %}
					<h2 class="game_info">{{ match.datetime.date }}</h2>
				{% else %}
					<h2 class="game_info">-</h2>
				{% endif %}
			</div>
			<div class="game_info_time">
				<h5 class="row_info">Uhrzeit</h5>
				{% if match.datetime.time %}
					<h2 class="game_info">{{ match.datetime.time }}</h2>
				{% else %}
					<h2 class="game_info">-</h2>
				{% endif %}
			</div>
		</div>

		<div class="game_mode">
			<h5 class="row_info">Spielmodus</h5>
			{% if match.game_mode %}
				<h2 class="game_info">{{ match.game_mode }}</h2>
			{% else %}
				<h2 class="game_info">-</h2>
			{% endif %}
		</div>
		
		<div class="description">
			<h5 class="row_info">Beschreibung</h5>
			{% if match.description %}
				<h2 class="game_info">{{ match.description }}</h2>
			{% else %}
				<h2 class="game_info">-</h2>
			{% endif %}
		</div>
		
		<div class="player">
			<h5 class="row_info">Spieler pro Team</h5>
			<h2 class="game_info">{{ match.player_per_team }}</h2>
		</div>

		<div class="rules">
			<h5 class="row_info">Regeln</h5>
			{% if match.inline_rules.all %}
				<ul>
					{% for rule in match.inline_rules.all %}
					<li><h2 class="game_info">{{ rule }}</h2></li>
					{% endfor %}
				</ul>
			{% else %}
				<h2 class="game_info">-</h2>
			{% endif %}
		</div>

		<div class="user">
			<h5 class="row_info">Angemeldete Benutzer</h5>
			<ul>
			{% for user in match.user.all %}
	 		<li class="player_name match_id_{{match.id}}" id="user_id_{{user.id}}">{{ user }}</li>
			{% endfor %}
			</ul>

			{% if not match.team_match.all %}
				<form method="post" action="register_user/">
					{% csrf_token %}
					<input type="submit" class="match_register" type="submit" value="{{ match|button_label:user }}" />
					<input type="hidden" name="match_id" value="{{match.id}}" />
				</form>
			{% endif %}
		</div>
	</div>

	<div class="teams">
		{% if match.team_match.all %}
			{% for team in match.team_match.all %}
				{% ifequal forloop.counter0|modulo:3 0 %}
				<div class="team_row">
				{% endifequal %}
					<div class="team" id="team_id_{{team.id}}">
						<h3>Team {{team.description}}</h3>
						<ul>
							{% for user in team.user.all %}
							<li>{{ user }}</li>
							{% endfor %}
						</ul>
						<form method="post" class="delete_team" action="delete_team/">
							{% csrf_token %}
							<input type="submit" type="submit" value="X" />
							<input type="hidden" name="team_id" value="{{team.id}}" />
						</form>
					</div>
				{% if forloop.counter0|modulo:3 == 2 or forloop.last %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>

	<div class="tournament_rounds">
		<table class"single_round">
			<tr>
				<th>Runde</th>
				<th>Uhrzeit</th>
				<th>Team (Home)</th>
				<th>Punkte (Home)</th>
				<th>Punkte (Away)</th>
				<th>Team (Away)</th>
			</tr>
			{% for round in match.round_match.all %}
			<tr>
				<form method="post" class="single_round_form" action="entry_round_result/">
					{% csrf_token %}
					<th>{{ round.round_number }}</th>
					<td>{{ round.getDatetime }}</td>
					<td>{{ round.team1.getTeam }}</td>
					<td><input type="text" maxlength="3" size="3" name="pkt1" value="{{ round.getPkt1 }}" autocomplete="off" /></td>
					<td><input type="text" maxlength="3" size="3" name="pkt2" value="{{ round.getPkt2 }}" autocomplete="off" /></td>
					<td>{{ round.team2.getTeam }}</td>
					<td>
						<input type="submit" type="submit" value="Okay" />
						<input type="hidden" name="round_id" value="{{ round.id }}" />
					</td>
				</form>
			</tr>
			{% endfor %}

			{% comment %}
			{% for i in round.getNumberOfSameRounds|get_range %}
				<tr>
					{% if forloop.counter == 1 %}
						<th rowspan="2">{{ round.round_number }}</th>
					{% endif %}
					<td>{{ round.getDatetime }}</td>
					<td>{{ round.team1.getTeam }}</td>
					<td>{{ round.pkt1 }}</td>
					<td>{{ round.pkt2 }}</td>
					<td>{{ round.team2.getTeam }}</td>
					<td>
						<form method="post" class="single_round_form" action="entry_/">
							<input type="submit" type="submit" value="Okay" />
							<input type="hidden" name="round_id" value="{{ round.id }}" />
						</form>
					</td>
				</tr>
			{% endfor %}
			{% endcomment %}

		</table>
	</div>

	<div class="ranking">
		<table>
			<tr>
				<th>Team</th>
				<th>Siege</th>
				<th>Punkte</th>
			</tr>
			{% for team in match.team_match.all|sortTeam %}
			<tr>
				<td>Team {{ team.0.description }}</td>
				<td>{{ team.1.wins }}</td>
				<td>{{ team.1.pts }}</td>
			</tr>
			{% endfor %}
		</table>
	<div>

	{% if user|has_group:"Admin" %}
	<div class="admin_interface">
		<form method="post" class="create_team" action="create_teams/">
			{% csrf_token %}
			<input type="radio" id="create_team_random" name="create_team_type" value="random" checked/>
			<label for="create_team_random">Zufall</label>
			<input type="radio" id="create_team_self" name="create_team_type" value="self" />
			<label for="create_team_self">Eigene Wahl</label>
			<input type="radio" id="create_team_admin" name="create_team_type" value="admin" />
			<label for="create_team_admin">Admin Wahl</label>
			<input type="submit" type="submit" value="Teams erstellen" />
			<input type="hidden" name="match_id" value="{{match.id}}" />
		</form>

		<form method="post" class="create_tournament" action="create_tournament/">
			{% csrf_token %}
			<input type="radio" id="create_tour_vs" name="create_tour" value="vs" checked/>
			<label for="create_tour_vs">Jeder gegen Jeden</label>
			<input type="radio" id="create_tour_tree" name="create_tour" value="tree" />
			<label for="create_tour_tree">Turnierbaum</label>
			<input type="submit" type="submit" value="Turnier erstellen" />
			<input type="hidden" name="match_id" value="{{ match.id }}" />
		</form>
	</div>
	{% endif %}
	
	{% endfor %}
</div>
{% endblock %}