{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block body %}
{{block.super}}
<div class="content">
	{% if "menu" in request.path %}
		<div class="headline">
			<h1 class="game_headline">Speisekarte</h1>
		</div>
		
		{% for image in category.image_imagecategory.all %}
			<image src="{{ image.image.url }}" />
		{% endfor %}

	{% else %}
		<div class="headline">
			<h1 class="game_headline">Bilder</h1>
		</div>
	
		{% for category in categories %}
			<h2>{{category.description}}</h2>
			{% for image in category.image_imagecategory.all %}
				<image src="{{ image.image.url }}" />
			{% endfor %}
		{% endfor %}
	{% endif %}

</div>
{% endblock %}