{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load helper %}

{% block body %}
{{block.super}}
<div class="content">
	{% if "menu" in request.path %}
		<div class="headline">
			<h1 class="game_headline">Speisekarte</h1>
		</div>
		
		{% for image in category.image_imagecategory.all %}
			<img src="{{ image.image.url }}" />
		{% endfor %}

	{% else %}
		<div class="headline">
			<h1 class="game_headline">Bilder</h1>
		</div>
	
		{% for category in categories %}
			<h2 class="category_headline">{{category.description}}</h2>
			<div id="image_gallery">
			{% for image in category.image_imagecategory.all %}
				<a href="{{image.image.url}}"><img src="{{ image.image|thumbnail_url:'game_site' }}" /></a>
			{% endfor %}
			</div>
		{% endfor %}
	{% endif %}

</div>
{% endblock %}