{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load helper %}

{% block headline %}
    <h1>{{ match.game.name }}</h1>
{% endblock %}

{% block body %}
{{block.super}}
<div class="content">
	{% if msg %}
		<span class="message">{{msg}}</span>
	{% endif %}

	<div class="headline">
		{% if match.game.icon %}
		<img src="{{ match.game.icon|thumbnail_url:'game_site' }}" />
		{% else %}
		<h1 class="game_headline">{{ match.game.name }}</h1>
		{% endif %}
	</div>

	<div class="match-info row">
		<div class="col-sm-6">
			<u><h5>Datum</h5></u>
			{% if match.datetime.date %}
				<h4>{{ match.datetime.date|date:"d.m.Y" }}</h4>
			{% else %}
				<h4>-</h4>
			{% endif %}
		</div>
		<div class="col-sm-6">
			<u><h5>Uhrzeit</h5></u>
			{% if match.datetime.time %}
				<h4>{{ match.datetime.time }}</h4>
			{% else %}
				<h4>-</h4>
			{% endif %}
		</div>
		<div class="col-sm-6">
			<u><h5>Spieler pro Team</h5></u>
			<h4>{{ match.player_per_team }}</h4>
		</div>
		<div class="col-sm-6">
			<u><h5>Spielmodus</h5></u>
			{% if match.game_mode %}
				<h4>{{ match.game_mode }}</h4>
			{% else %}
				<h4>-</h4>
			{% endif %}
		</div>
		<div class="col-sm-12">
			<u><h5>Beschreibung</h5></u>
			{% if match.description %}
				{% for description in match.description.splitlines %}
					<h4>{{ description }}</h4>
				{% endfor %}
			{% else %}
				<h4>-</h4>
			{% endif %}
		</div>
		<div class="col-sm-12">
			<u><h5>Regeln</h5></u>
			{% if match.rules %}
				{% for rule in match.rules.splitlines %}
					<h4>{{ rule }}</h4>
				{% endfor %}
			{% else %}
				<h4>-</h4>
			{% endif %}
		</div>
		<div class="col-sm-12">
			<u><h5>Angemeldete Benutzer</h5></u>
			<ul class="list-inline">
			{% for user in match.user.all|sort_by:'username' %}
 				<li><h4>{{ user }}</h4></li>
			{% endfor %}
			</ul>
			{% if not match.team_match.all %}
				<form method="post" action="register_user/">
					{% csrf_token %}
					<input type="submit" class="btn btn-primary btn-sm" type="submit" value="{{ match|button_label:user }}" />
					<input type="hidden" name="match_id" value="{{match.id}}" />
				</form>
			{% endif %}
		</div>
	</div>

	{% if match.team_choose_type == "self" and match.playerWithoutTeam %}
		<div class="choose_team">
			<div class="player_pool">
				<form method="post" class="create_self_team" action="{% if user in match.playerWithoutTeam %}create_self_team/{% else %}update_self_team/{% endif %}">
					{% csrf_token %}
					{% for player in match.playerWithoutTeam %}
						<input type="checkbox" id="user_{{player.id}}" name="create_self_team" value="{{player.id}}"
						{% if user == player %}
						checked disabled
						{% endif %}
						 />
						<label for="user_{{player.id}}">{{ player }}</label>
					{% endfor %}
					<input class="btn btn-primary btn-sm" type="submit" value="{{ match|button_label_self_team:user }}" />
					<input type="hidden" name="match_id" value="{{match.id}}" />
				</form>
			</div>
		</div>
	{% endif %}

	{% if match.team_choose_type == "admin" and match.playerWithoutTeam %}
		{% if user|has_group:"Admin" %}
			<div class="choose_team">
				<div class="player_pool">
					<form method="post" class="create_admin_team" action="create_admin_team/">
						{% csrf_token %}
						{% for user in match.playerWithoutTeam %}
							<input type="checkbox" id="user_{{user.id}}" name="create_admin_team" value="{{user.id}}" />
							<label for="user_{{user.id}}">{{ user }}</label>
						{% endfor %}
						<input class="btn btn-primary btn-sm" type="submit" value="Team erstellen" />
						<input type="hidden" name="match_id" value="{{match.id}}" />
					</form>
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="teams">
		{% if match.team_match.all %}
			<h2 class="match_subline">Teams</h2>
			{% for team in match.team_match.all %}
				{% ifequal forloop.counter0|modulo:3 0 %}
				<div class="team_row">
				{% endifequal %}
					<div class="team" id="team_id_{{team.id}}">
						<h4>{{team.getTeam}}</h4>
						{% if match.player_per_team > 1 %}
							<ul>
								{% for user in team.user.all %}
								<li>{{ user }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% if not match.round_match.all and user|has_group:"Admin" %}
						<form method="post" class="delete_team" action="delete_team/">
							{% csrf_token %}
							<input class="btn btn-primary btn-sm" type="submit" value="Löschen" />
							<input type="hidden" name="team_id" value="{{team.id}}" />
						</form>
						{% endif %}
					</div>
				{% if forloop.counter0|modulo:3 == 2 or forloop.last %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>

	{% if match.tour_choose_type == "vs" %}
		{% if match.round_match.all %}
		<div class="tournament_rounds">
			<h2 class="match_subline">Begegnungen</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Runde</th>
						<th>Uhrzeit</th>
						<th>Team (Home)</th>
						<th>Punkte (Home)</th>
						<th>Punkte (Away)</th>
						<th>Team (Away)</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for round in match.round_match.all %}
				<tr class="{% if forloop.counter0|modulo:2 == 0 %}table_row_odd{%else%}table_row_even{% endif %}">
					<th>{{ round.round_number }}</th>
					<td>{{ round.getDatetime }}</td>
					<td>{{ round.team1.getTeam }}</td>
					{% if user|has_group:"Admin" or request.user in round.team1.user.all or request.user in round.team2.user.all %}
						<form method="post" class="single_round_form" action="entry_round_result/">
							{% csrf_token %}
							<td><input type="text" maxlength="3" size="3" name="pkt1" value="{{ round.getPkt1 }}" autocomplete="off" /></td>
							<td><input type="text" maxlength="3" size="3" name="pkt2" value="{{ round.getPkt2 }}" autocomplete="off" /></td>
							<td>{{ round.team2.getTeam }}</td>
							<td>
								<input class="btn btn-primary btn-sm" type="submit" value="Okay" />
								<input type="hidden" name="round_id" value="{{ round.id }}" />
							</td>
						</form>
					{% else %}
						<td>{{ round.getPkt1 }}</td>
						<td>{{ round.getPkt2 }}</td>
						<td>{{ round.team2.getTeam }}</td>
						<td></td>
					{% endif %}
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="ranking">
			<h2 class="match_subline">Ranking</h2>
			<table class="table table-bordered">
				<tr>
					<th>Platz</th>
					<th>Teams</th>
					<th>Siege</th>
					<th>Punkte</th>
				</tr>
				{% for team in match.team_match.all|sortTeam %}
				<tr>
					<th>{{ forloop.counter }}</th>
					<td>Team {{ team.0.description }}</td>
					<td>{{ team.1 }}</td>
					<td>{{ team.2 }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
	{% elif match.tour_choose_type == "tree" or match.tour_choose_type == "tree_loser" %}
		<div id="tournamen_tree">
			<h2 class="match_subline">Turnierbaum</h2>
			<input type="hidden" id="tournament_bracket_mode" data-mode="{{ match.tour_choose_type }}" />
			<div id="tournament_tree_teams">
				{% for round in match.round_match.all %}
					<input type="hidden" data-match="{{match.id}}" data-round="{{forloop.counter}}" class="tournament_tree_team" value="{{round.getTeams}}"/>
					{% if match.tour_choose_type == "tree" %}
						<input type="hidden" data-match="{{match.id}}" data-round="{{ match.tournamentBracketRounds|getListElement:forloop.counter0 }}" class="tournament_tree_points" value="{{ round.getPoints }}" />
					{% elif match.tour_choose_type == "tree_loser" %}
						<input type="hidden" data-match="{{match.id}}" data-round="{{ match.tournamentBracketRoundsWLoser|getListElement:forloop.counter0 }}" class="tournament_tree_points" value="{{ round.getPoints }}" />
					{% endif %}
				{% endfor %}
			</div>
			<div id="tournament_tree_content"></div>
		</div>
	{% endif %}

	{% if user|has_group:"Admin" %}
	<div class="admin_interface well row">
		<h3 class="col-sm-12">Admin Panel</h3>
        <div class="col-sm-6 container">
            <form method="post" class="create_team" action="create_teams/">
                {% csrf_token %}
                {% if match.player_per_team == 1 %}
                    <input type="hidden" id="create_team_random" name="create_team_type" value="random" />
                {% else %}
                    <label class="radio"><input type="radio" id="create_team_random" name="create_team_type" value="random" {{ match|radioCheckedTeam:"rand" }} />Zufall</label>
                    <label class="radio"><input type="radio" id="create_team_self" name="create_team_type" value="self" {{ match|radioCheckedTeam:"self" }} />Eigene Wahl</label>
                    <label class="radio"><input type="radio" id="create_team_admin" name="create_team_type" value="admin" {{ match|radioCheckedTeam:"admin" }} />Admin Wahl</label>
                {% endif %}
                <input class="btn btn-primary btn-sm" type="submit" value="Teams erstellen" />
                <input type="hidden" name="match_id" value="{{match.id}}" />
            </form>
        </div>
        <div class="col-sm-6">
            <form method="post" class="create_tournament" action="create_tournament/">
                {% csrf_token %}
                <label class="radio"><input type="radio" id="create_tour_vs" name="create_tour" value="vs" {{ match|radioCheckedTour:"vs" }} />Jeder gegen Jeden</label>
                <label class="radio"><input type="radio" id="create_tour_tree" name="create_tour" value="tree" {{ match|radioCheckedTour:"tree" }} {{ match|radioCheckedTour:"tree_loser" }} />Turnierbaum</label>
                <label class="checkbox"><input type="checkbox" id="create_tour_tree_loserbracket" name="create_tour_tree_loserbracket" disabled {{ match|radioCheckedTour:"tree_loser" }}/>+ Loserbracket</label>
                <input class="btn btn-primary btn-sm" type="submit" value="Turnier erstellen" />
                <input type="hidden" name="match_id" value="{{ match.id }}" />
            </form>
        </div>
        <div class="col-sm-12">
            <form method="post" class="delete_tournament" action="delete_tournament/">
                {% csrf_token %}
                <input class="btn btn-primary btn-sm" type="submit" value="Turnier löschen" />
                <input type="hidden" name="match_id" value="{{ match.id }}" />
            </form>
        </div>
    </div>
	{% endif %}
</div>
{% endblock %}


{% block js %}
	<script type="text/javascript" src="{% static 'js/jquery.bracket.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tournament_bracket.js' %}"></script>
{% endblock %}
