{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load helper %}

{% block body %}
{{block.super}}
<div class="content" id="image_page">
    <div class="headline">
        <h1 class="menu_headline">Speisekarte</h1>
    </div>

    <div class="menu_content">
        <div class="menu_list">
            <h2>{{ order }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Bestellungs-Nr.</th>
                        <th>Extra</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in order_list %}
                    <tr>
                        <td>{% order.name | getName %}</td>
                        <td>{% order.order_number %}</td>
                        <td>{% order.extra %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <form method="post" class="menu_order" action="enter-order/">
            {% csrf_token %}
            <input type="text" maxlength="255" name="orderNumber" value="" autocomplete="off" />
            <input type="textarea" maxlength="255" rows="4" cols="50" name="extra" value="" autocomplete="off" />
            <input type="submit" type="submit" value="Okay" />
            <input type="hidden" name="orderId" value="{{ order.id }}" />
        </form>
    </div>
</div>
{% endblock %}