{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load helper %}

{% block headline %}
    <h1>Bestellliste</h1>
{% endblock %}

{% block body %}
{{block.super}}
<div class="content eighty_ten">
    <div class="menu_content">
        <div class="menu_list">
            <h2>{{ order }}</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Bestellung / Bestellungs-Nr.</th>
                        <th>Extra</th>
                        <th>Preis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for single_order in order_list %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ single_order.name | getName }}</td>
                        <td>{{ single_order.order_number }}</td>
                        <td>{{ single_order.extra }}</td>
                        <td>{% if single_order.price %}{{ single_order.price|floatformat:2 }} &euro;{% endif %}</td>
                        <td>
                            {% if single_order.name == user and not order.locked or user|has_group:"Admin" %}
                            <form method="post" class="menu_order_delete" action="delete/">
                                {% csrf_token %}
                                <input type="hidden" name="menuSingleOrderId" value="{{ single_order.id }}" />
                                <input class="btn btn-primary btn-sm" type="submit" type="submit" value="X" />
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="errorlist">
        {% if error %}
            <span>{{ error.msg }}</span>
        {% endif %}
        </div>

        {% if order.locked %}
            <span>Liste gesperrt. Es können keine Bestellungen mehr aufgegeben werden.</span>
        {% else %}
        <form method="post" class="menu_order" action="">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-offset-1 col-sm-3 col-form-label" for="single-menu-order-number">Bestellung / BestellNr.: </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="single-menu-order-number" maxlength="255" name="orderNumber" value="" autocomplete="off" placeholder="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-offset-1 col-sm-3 col-form-label" for="single-menu-extra">Extra: </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="single-menu-extra" maxlength="255" name="extra" value="" autocomplete="off" placeholder="bsp. ohne Pilze/mit extra Mozzarella" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-offset-1 col-sm-3 col-form-label" for="single-menu-price">Preis: </label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" step="any" min="0", max="99.99", id="single-menu-price" name="price" autocomplete="off" />
                </div>
            </div>
            <div class="form-group row">
                <input class="btn btn-primary btn-lg" type="submit" type="submit" value="Okay" />
            </div>
        </form>
        {% endif %}

        {% if user|has_group:"Admin" %}
        <div class="menu-list-lock">
            <form method="post" action="lock/">
                {% csrf_token %}
                <input class="btn btn-primary btn-lg" type="submit" value="Liste {% if order.locked %}entsperren{% else %}sperren{% endif %}">
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}