{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
{{block.super}}
    <div class="content">
        <div class="register_headline">
            <h1>Registrierung</h1>
        </div>

        {% if registered %}
            <strong>Erfolgreich registriert!</strong>
            <a class="back_link" href="/">Zurück zur Startseite</a>
        {% else %}

        <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="register_field">Benutzername: {{ user_form.username }}</span>
            <span class="register_field">Passwort: {{ user_form.password }}</span>
            <span class="register_field">Passwort: {{ user_form.password_repeat }}</span>
            
            {% for error in errors %}
            	<p class="error">{{ error }}</p>
            {% endfor %}

            <input type="submit" value="Register" />
            <input type="hidden" name="next" value="../" />
        </form>
    {% endif %}
    </div>

{% endblock %}