{% extends "base.html" %}
{% load staticfiles %}

{% block headline %}
    <h1>Regeln</h1>
{% endblock %}


{% block body %}
{{ block.super }}
<div class="content">
	{% for rule in rules.all %}
		<div class="row">
			<h3><strong>{{ rule }}</strong></h3>
		</div>
		<div class="list_rule row">
		{% for singleRule in rule.inline_rules.all %}
			<div class="single_rule">
				<div class="col-sm-2">Regel {{ forloop.counter }}:</div>
				<div class="col-sm-10">{{ singleRule }}</div>
			</div>
		{% endfor %}
		</div>
	{% endfor %}
</div>
{% endblock %}