{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load helper %}

{% block headline %}
    <h1>Teilnehmerliste</h1>
{% endblock %}

{% block body %}
{{block.super}}
<div class="content eighty_ten">
    <div class="user_list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Sitzplatz</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
            {% for user in user_list %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ single_order.name | getName }}</td>
                    <td>{{ single_order.order_number }}</td>
                    <td>{{ single_order.extra }}</td>
                    <td>{% if single_order.price %}{{ single_order.price|floatformat:2 }} &euro;{% endif %}</td>
                    <td>
                        {% if single_order.name == user and not order.locked or user|has_group:"Admin" %}
                        <form method="post" class="menu_order_delete" action="delete/">
                            {% csrf_token %}
                            <input type="hidden" name="menuSingleOrderId" value="{{ single_order.id }}" />
                            <input class="btn btn-primary btn-sm" type="submit" type="submit" value="X" />
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="errorlist">
        {% if error %}
            <span>{{ error.msg }}</span>
        {% endif %}
        </div>

    </div>
</div>
{% endblock %}