{% extends "base.html" %}
{% load staticfiles %}
{% load helper %}

{% block headline %}
    <h1>Videos</h1>
{% endblock %}

{% block body %}
{{block.super}}
<div class="content-image-gallery">
    <div class="video-gallery-intern">
        {% for category in content.categories %}
            <h2 class="video-gallery-intern-headline">{{ category }}</h2>
            <div class="row">
                {% for video in category.video_videocategory.all %}
                    <video width="300" class="video col-sm-6" controls onclick="this.paused ? this.play() : this.pause();">
                        <source src="{{ video.video.url }}">
                    </video>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

	<div class="video-gallery-extern">
        {% for folder, files in content.imageFiler.items %}
            <h2 class="video-gallery-extern-headline">{% if folder == "." %}Rest{% else %}{{ folder|splitOnSlash }}{% endif %}</h2>
            <div class="row">
                {% for video in files %}
                    <video width="300" class="video col-sm-6" controls onclick="this.paused ? this.play() : this.pause();">
					    <source src="{{ MEDIA_URL }}video_gallery/{{ video }}">
				    </video>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {% if content.upload_allowed and not user|has_group:"Upload-Ban" or user|has_group:"Video-Admin" or user|has_group:"Admin" %}
    <div class="admin_interface well row">
        <h3 class="col-sm-12">Video Upload</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="id_video" name="video" type="file">
            <button class="btn btn-primary btn-sm" type="submit">Upload</button>
        </form>
    </div>
    {% endif %}

    {% if user|has_group:"Admin" %}
    <div class="admin_interface well row">
        <h3 class="col-sm-12">Admin Panel</h3>
        <form method="post" action="upload-lock/">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" type="submit">{% if content.upload_allowed %}Uploads verbieten{% else %}Upload erlauben{% endif %}</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}